<div class="row mt-2">
    <form name="AddByTitle" id="AddByTitle" role="form" class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
        <div class="col">
            <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" id="title" name="title" required="" maxlength="500" minlength="2" placeholder="Add" new="">
        </div>
        <div class="col-auto m-0 px-2 d-flex align-items-center">
            <input type="date" class="btn btn-sm bg-default my-2 px-1 due-date-button" id="due-date-button" title="Set a Due date" min="2023-07-13">
            
        </div>
        <div class="col-auto px-0 mx-0 mr-2">
            <button type="submit" class="btn btn-primary save-button">
                Add
            </button>
        </div>
    </form>
</div>