<div class="card-body">
   <div class="row">
      <div class="col-md-12">
         <div name="AddByTitle" id="AddByTitle"class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
            <div class="col">
               <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" id="add-by-title-input" name="add-by-title-input" maxlength="500" minlength="2" placeholder=@L("AddNew") />
            </div>
            <div class="col-auto m-0 px-2 d-flex align-items-center">
               <input type="date" class="btn btn-sm bg-default my-2 px-1 due-date-button" id="due-date-button" title="Set a Due date">
               </input>
            </div>
            <div class="col-auto px-0 mx-0 mr-2">
               <button type="button" class="btn btn-primary create-by-title-button">
               @L("Add")
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
