<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default close-button" data-dismiss="modal">@L("Cancel")</button>
    <button type="submit" class="btn btn-danger delete-button">@L("Delete")</button>
</div>
