@using toyiyo.todo.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <div class="user-initials elevation-2" title=@Model.GetShownLoginName()>@Model.GetUserInitials()</div>
    </div>
    <div class="info">
        <a class="d-block" href="javascript:void(0);">@Html.Raw(Model.GetShownLoginName())</a>
    </div>
</div>
