@model List<toyiyo.todo.Web.Models.Jobs.EditJobModalViewModel>

<div class="card">
    <div class="card-header">
        <h4>Sub-tasks</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subTask in Model)
                {
                    <tr>
                        <td>
                            @* <select class="form-control">
                                <option value="1" @(subTask.StatusId == 1 ? "selected" : "")>Not started</option>
                                <option value="2" @(subTask.StatusId == 2 ? "selected" : "")>In progress</option>
                                <option value="3" @(subTask.StatusId == 3 ? "selected" : "")>Completed</option>
                            </select> *@
                        </td>
                        <td>
                            <input type="text" class="form-control" value="@subTask.Description" />
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
