@using toyiyo.todo.Web.Startup
@using toyiyo.todo.Jobs;
@using static toyiyo.todo.Jobs.Job;
@model toyiyo.todo.Web.Models.Jobs.JobListViewModel
@{
    ViewBag.Title = L("Jobs");
    ViewBag.CurrentPageName = PageNames.Jobs;
}
@section scripts {
    <environment names="Development">
        <script src="~/view-resources/Views/Jobs/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Jobs/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<input type="hidden" name="ProjectId" id="ProjectId" value="@ViewBag.ProjectId" />
<input type="hidden" name="JobId" id="JobId" value="@ViewBag.JobId" />
<input type="hidden" name="SelectedJobStatus" id="SelectedJobStatus" value="0" />
<input type="hidden" name="SelectedEpicId" id="SelectedEpicId" value='00000000-0000-0000-0000-000000000000' />
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Projects">Projects</a></li>
                        <li class="breadcrumb-item">@ViewBag.ProjectTitle</li>
                        <li class="breadcrumb-item active" aria-current="page">Jobs</li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-6">
                @await Html.PartialAsync("~/Views/Jobs/Index.AdvancedSearch.cshtml")
            </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card container-fluid m-5 p-2 rounded mx-auto bg-light shadow">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                    <form name="JobCreateForm" id="JobCreateForm" role="form" class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                                        <div class="col">
                                            <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" id="jobtitle" name="title" required maxlength="500" minlength="2" placeholder=@L("AddNew") />
                                        </div>
                                        <div class="col-auto m-0 px-2 d-flex align-items-center">
                                            <input type="date" class="btn btn-sm bg-default my-2 px-1 due-date-button" id="due-date-button" title="Set a Due date">
                                            </input>
                                        </div>
                                        <div class="col-auto px-0 mx-0 mr-2">
                                            <button type="submit" class="btn btn-primary save-button">
                                                @L("Add")
                                            </button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                        <div class="p-2 mx-4 border-black-25 border-bottom"></div>
                        <div class="row m-1 p-3 justify-content-between">
                            <div class="col-3">
                                <button id="toggle-epics" type="button" class="btn btn-primary mb-3" data-toggle="tooltip" data-placement="top" title="Open Epics Panel">
                                    <i class="fas fa-chevron-right" id="epic-icon"></i>
                                </button>
                            </div>
                            <div class="col-9">
                                <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active job-status-filter" id="pills-backlog-tab" data-job-status-filter="0" data-toggle="pill" href="#pills-backlog" role="tab" aria-controls="pills-backlog" aria-selected="true" data-toggle="tooltip" data-placement="top" title="Filter by Backlog">
                                            <span id="backlog-icon"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link job-status-filter" id="pills-in-progress-tab" data-job-status-filter="1" data-toggle="pill" href="#pills-in-progress" role="tab" aria-controls="pills-in-progress" aria-selected="false" data-toggle="tooltip" data-placement="top" title="Filter by In Progress">
                                            <span id="in-progress-icon"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link job-status-filter" id="pills-done-tab" data-job-status-filter="2" data-toggle="pill" href="#pills-done" role="tab" aria-controls="pills-done" aria-selected="false" data-toggle="tooltip" data-placement="top" title="Filter by Done">
                                            <span id="done-icon"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div id="epicsPanel" class="epics-panel d-none">
                                    <div class="list-group" id="epics-list">
                                        @await Html.PartialAsync("~/Views/Shared/Components/_AddJobByTitle.cshtml", new JobCreateInputDto { Level = JobLevel.Epic })
                                            <div class="card-body">
                                                <div class="list-group" id="list-tab-epics" role="tablist">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!--introduce navivation for different statuses https://getbootstrap.com/docs/4.6/components/navs/#javascript-behavior-->
                        <!--update from table to listgroup https://getbootstrap.com/docs/5.1/components/list-group/#checkboxes-and-radios-->
                            <div class="table-responsive col-12">
                                <table id="JobsTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>order</th>
                                            <th>status</th>
                                            <th>title</th>
                                            <th class="min-phone-l desktop">due</th>
                                            <th>edit</th>
                                        </tr>

                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Jobs/_CreateModal.cshtml", Model)
@await Html.PartialAsync("~/Views/Jobs/_DeleteConfirmationModal.cshtml")


<div class="modal fade" id="JobEditModal" tabindex="-1" role="dialog" aria-labelledby="JobEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
