@using toyiyo.todo.Web.Startup
@model toyiyo.todo.Web.Models.Jobs.JobListViewModel
@{
    ViewBag.Title = L("Jobs");
    ViewBag.CurrentPageName = PageNames.Jobs;
}
@section scripts {
    <environment names="Development">
        <script src="~/view-resources/Views/Jobs/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Jobs/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<input type="hidden" name="ProjectId" id="ProjectId" value="@ViewBag.ProjectId" />
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Jobs")</h1>
            </div>
            <div class="col-sm-6">
                @await Html.PartialAsync("~/Views/Jobs/Index.AdvancedSearch.cshtml")
            </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card container-fluid m-5 p-2 rounded mx-auto bg-light shadow">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                    <form name="JobCreateForm" id="JobCreateForm" role="form" class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                                        <div class="col">
                                            <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" id="jobtitle" name="title" placeholder=@L("AddNew") />
                                        </div>
                                        <div class="col-auto m-0 px-2 d-flex align-items-center">
                                            <label class="text-secondary my-2 p-0 px-1 view-opt-label due-date-label d-none">Due date not set</label>
                                            <i class="fa fa-calendar my-2 px-1 text-primary btn due-date-button" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Set a Due date"></i>
                                            <i class="fa fa-calendar-times-o my-2 px-1 text-danger btn clear-due-date-button d-none" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Clear Due date"></i>
                                        </div>
                                        <div class="col-auto px-0 mx-0 mr-2">
                                            <button type="submit" class="btn btn-primary save-button">
                                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                @L("Add")
                                            </button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="JobsTable" class="table">
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Jobs/_CreateModal.cshtml", Model)

<div class="modal fade" id="JobEditModal" tabindex="-1" role="dialog" aria-labelledby="JobEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
