@using toyiyo.todo.Web.Models.Common.Modals
@model toyiyo.todo.Web.Models.Projects.ProjectListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="ProjectCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProjectCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewProject")))
            <form name="ProjectCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="projecttitle">@L("ProjectTitle")</label>
                        <div class="col-md-9">
                            <input id="projecttitle" type="text" name="title" class="form-control" required maxlength="500" minlength="2">
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
