@using toyiyo.todo.Web.Models.Common.Modals
@{
    Layout = null;
}
<div class="modal fade" id="ProjectDeleteModal" tabindex="-1" role="dialog" aria-labelledby="ProjectDeleteModal" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <input type="hidden" name="ProjectId" />
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Delete")))
            <div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithDeleteAndCancel.cshtml")

        </div>
    </div>
</div>
