@using toyiyo.todo.Web.Startup
@{
    ViewBag.Title = L("Projects");
    ViewBag.CurrentPageName = PageNames.Projects;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("Projects")</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
<div class="container-fluid">
<div>Projects page</div>
</section>
