.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.nav-user-menu .user-image {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.dataTables_wrapper * {
    font-size: 14px !important;
}

.dataTables_wrapper table th {
    padding: 8px;
    vertical-align: middle;
    border-top-width: 0 !important;
}

.dataTables_wrapper table td {
    padding: 8px;
    vertical-align: middle;
}

.epic-filter.list-group-item {
    color: #212529 !important;
    background-color: transparent !important;
}

.epic-filter.list-group-item.selected {
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: #212529 !important;
}

.epic-filter.list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.075) !important;
    color: #212529 !important;
}

.epic-filter .btn {
    color: inherit !important;
}
.cursor-pointer {
    cursor: pointer;
}

